* {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

h1 {
    font-weight: 100;
    color: darkgreen;
    font-size: 200px;
    padding: 0px;
    text-align: center;
}

.main {
    font-size: 72px;
    margin-left: 70px;
}

img {
    width: 400px;
    height: auto;
    margin-left: 50px;
}

.item {
    font-size: 24px;
    margin-left: 70px;
}

h3 {
    margin-left: 50px;
    font-size: 36px;
}

a {
    font-size: 52px;
}


.flex-container {
    margin: 20em;
    display: flex;
    justify-content: center;
    gap: 5em;
}

.heading {
    margin: 50px;
    display: flex;
    background-color: honeydew;
    justify-content: center;
    align-items: center;
}