* {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: left;
}

h1 {
    font-weight: 100;
    color: darkgreen;
    font-size: 200px;
    background-color: honeydew;
    padding: 0px;
    margin: 50px;
}

.main {
    font-size: 72px;
    margin-left: 70px;
}

img {
    width: 400px;
    height: auto;
    margin-left: 50px;
}

.item {
    font-size: 24px;
    margin-left: 70px;
}

h3 {
    margin-left: 50px;
    font-size: 36px;
}

p {
    margin-left: 50px;
}