* {
    font-family: "Helvetica", sans-serif;
    text-align: center;
}

h1 {
    font-weight: 700;
    color: darkgreen;
    font-size: 200px;
    background-color: honeydew;
}

.main {
    font-size: 72px;
}

img {
    width: 400px;
    height: auto;
}